.fieldset {
  width: 100%;

  display: flex;
  flex-direction: column;

  border: none;
  padding: 0;

  @media screen and (width >= 768px) {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  @media screen and (width >= 1440px) {
    justify-content: space-between;
  }
}

.search_input {
  width: 100%;

  @media screen and (width >= 768px) {
    flex: 1;
  }

  @media screen and (width >= 1440px) {
    width: 40%;
    max-width: 48rem;
  }
}

.country_filter {
  margin-top: 3.75rem;

  @media screen and (width >= 768px) {
    margin-top: 0;
  }
}

.status_message {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.6rem;
  color: var(--very-dark-blue-text);
}

:global(html[data-theme='dark']) .status_message {
  color: var(--white);
}

.countries_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  margin-top: 3.2rem;

  @media screen and (width >= 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 4.8rem;
    margin-top: 4.8rem;
  }

  @media screen and (width >= 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }
}